[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vifm/plugins/vifm_devicons"]
	path = vifm/plugins/vifm_devicons
	url = https://github.com/cirala/vifm_devicons.git
