SUBSYSTEMS=="usb", ACTION=="add", RUN+="/usr/local/bin/udev-dispatch -x -u root -- udev-usb-notify"
SUBSYSTEMS=="usb", ACTION=="remove", RUN+="/usr/local/bin/udev-dispatch -x -u root -- udev-usb-notify"
SUBSYSTEMS=="usb", SUBSYSTEM=="block", ACTION=="remove", RUN+="/usr/local/bin/udev-dispatch -x -u root -- udev-test"
SUBSYSTEMS=="usb", SUBSYSTEM=="block", ACTION=="add", RUN+="/usr/local/bin/udev-dispatch -x -u root -- udev-test"
